<div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="2rem" fxLayout.xs="column" fxLayoutGap.xs="1rem">
    <button (click)="forwarder('https://github.com/Marcodaum')" pButton pRipple type="button" class="p-button-success" label="Github" icon="fa fa-github"></button>
    <button (click)="forwarder('https://www.linkedin.com/in/marcodaum/')" pButton pRipple type="button" class="p-button-success" label="LinkedIn" icon="fa fa-linkedin"></button>
    <button (click)="forwarder('https://www.instagram.com/marco__234/')" pButton pRipple type="button" class="p-button-success" label="Instagram" icon="fa fa-instagram"></button>
</div>
