<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="3rem" class="about-me">
    <div class="image" fxLayoutAlign="space-around center" fxFlex="35">
            <img src="../../assets/DSC03161.JPG">
    </div>
    <div class="description" fxLayoutAlign="space-around center" fxFlex="65">
        <div>
                My name is Marco, I’m 19 years old and currently studying
                <B>B. Sc. Computer Science</B> in the fourth semester at the
                <B><a target="_blank" href="https://www.thi.de/">"Technische Hochschule Ingolstadt"</a></B>. Apart from my studies I am involved into exciting projects at
                <B><a target="_blank" href="https://www.airbus.com/en/products-services/defence">Airbus Defence and Space</a></B> and <B><a target="_blank" href="https://www.schanzer-racing.de/">Schanzer Racing Electric e.V.</a></B>.<br><br>I've been interested in technology myself since I can remember. The ability to
                <B>solve simple problems</B> with a few lines of code quickly caught my eye at computer science. However I am not only interested in what happens hidden in the depths of the operating system in general, no, but also what the user sees and experiences
                when interacting with a program.<br><br>Learning all these abilities to develop extensive software gives me great pleasure so that I am constantly working on
                <B>expanding my knowledge</B> and developing myself further.
        </div>
    </div>
</div>