.about-me {
    font-size: 1.5rem;
}


img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

a {
    text-decoration: none;

}

a:link, a:visited {
    color: black;
  }
  
@media (prefers-color-scheme: dark) {
  a:link, a:visited {
    color: white;
  }
}

a:hover {
  transition: 0.2s;
  color: rgb(94, 194, 106);
}
  
a:active {
  color: rgb(94, 194, 106);
}

