<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap" rel="stylesheet">
</head>
<div class="container">
  <div>  <app-welcome-page (notifyScroll) = scroll(target)></app-welcome-page>
  </div>
  <div class="content" fxLayout="column" fxLayoutGap="13rem" #target>  
    <div fxLayout="column" fxLayoutGap="5rem">
    <div class="headline" fxLayoutAlign="center">THIS IS ME</div>
    <app-about-me ></app-about-me>

    </div>
    <div class="content" fxLayout="column" fxLayoutGap="5rem">
      <div class="headline" fxLayoutAlign="center">WHAT I DO</div>
    <app-work-experience></app-work-experience>

    </div>
    <div class="content" fxLayout="column" fxLayoutGap="5rem">
      <div class="headline" fxLayoutAlign="center">HIT ME UP</div>
    <app-contact></app-contact>

    </div>
    <div>
      <app-legal-notice></app-legal-notice>
    </div>

  </div>

</div>