  .legal-notice {
    padding-bottom: 2rem;
    color: black;
  }

  a {
    text-decoration: none; /* no underline */

  }

  a:link a:visited{
    color: black;
  }
  
  a:hover {
    transition: 0.2s;
    color: rgb(94, 194, 106);

  }
  
  /* selected link */
  a:active {
    color: rgb(94, 194, 106);
  }

  :host ::ng-deep {
    .p-button-label {
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
  a:link a:visited {
    color: white;
  }
  
  a:active, a:hover {
    color: rgb(94, 194, 106);
  }

  .legal-notice {
    color: white;
  }

  :host ::ng-deep {
    .p-button-label {
      color: white;
    }
  }
}

